<!doctype html>
<html>
<head>
	<title>ODE</title>
              <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Meddon" rel="stylesheet"> <!-- google fonts --> 
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<div class="index-wrapper">
    <% include partials/feather-1-svg %>
    <% include partials/feather-2-svg %>
    <% include partials/feather-3-svg %>
    <% include partials/feather-4-svg %>
    <div class="index-container">
        <% include partials/ode-svg %>
        <h3 class="slogan">Where words matter</h3>
        <p>Login or Signup:</p>
    <div class="button-container">
        <a  href="/login"><button><i class="fa fa-sun-o" aria-hidden="true"></i> Local Login</button></a>
        <a href="/signup"><button><i class="fa fa-user-plus" aria-hidden="true"></i> Local Signup</button></a>
        <a href="/auth/facebook"><button><i class="fa fa-facebook-official" aria-hidden="true"></i>    Facebook</button></a>
        <a href="/auth/twitter"><button><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</button></a>
    </div>
    </div>
</div>
<% include partials/footer %>