<% include partials/header %>
<div class="login-wrapper">
	<% include partials/fox-svg %>
	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>
	<!-- LOGIN FORM -->
	<form action="/login" method="post">
		<div class="login-form-fields">
			<input type="text" class="form-control" name="email" placeholder="Your email">
		</div>
		<div class="login-form-fields">
			<input type="password" class="form-control" name="password" placeholder="Your password">
		</div>
		<button type="submit">Login</button>
	</form>
</div>
<% include partials/footer %>