* {
  box-sizing: border-box; }

.feed-wrapper, .create-wrapper, .poem-wrapper {
  height: auto;
  margin: 0 auto;
  padding: 0px 15px 15px 15px;
  width: 90%;
  text-align: center;
  border-radius: 4px; }
  @media only screen and (min-width: 675px) {
    .feed-wrapper, .create-wrapper, .poem-wrapper {
      width: 80%; } }

a {
  text-decoration: none; }

button {
  background-color: transparent;
  border: solid #000B29 1px;
  margin: 10px;
  width: 25%;
  height: 42px;
  font-size: 18px;
  transition: .3s; }
  button:hover {
    background-color: #000B29;
    color: #F8F1E5;
    border-radius: 5px; }
  @media only screen and (min-width: 675px) {
    button button {
      width: 10%; } }

.view-pg-title {
  font-size: 32px;
  font-weight: bold;
  color: #000B29;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px; }

input {
  height: 36px;
  width: 50%;
  padding: 10px 15px; }
  @media screen and (min-width: 675px) {
    input {
      width: 400px; } }

h4 {
  text-align: center;
  color: #D70026;
  padding-top: 15px;
  margin: 0; }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  color: #000B29;
  background-color: #F8F5F2; }

/*------------------------------------------*/
/* HEADER CSS - START */
.header-wrapper {
  background-color: #F8F5F2; }

.create-header .create-menu-item a {
  color: #598234 !important; }
  .create-header .create-menu-item a:hover {
    color: #EDB83D !important; }
  .create-header .create-menu-item a i {
    font-weight: bold; }

.feed-header .feed-menu-item a {
  color: #D70026 !important; }
  .feed-header .feed-menu-item a:hover {
    color: #EDB83D !important; }
  .feed-header .feed-menu-item a i {
    font-weight: bold; }

.profile-header .profile-menu-item a {
  color: #EDB83D !important; }
  .profile-header .profile-menu-item a:hover {
    color: #EDB83D !important; }
  .profile-header .profile-menu-item a i {
    font-weight: bold; }

.hamburger {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 36px;
  color: #000B29;
  display: block; }
  @media screen and (min-width: 675px) {
    .hamburger {
      display: none; } }

#menu {
  display: none; }
  @media screen and (min-width: 675px) {
    #menu {
      display: block;
      text-align: center; } }
  #menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 0px; }
    #menu ul li {
      display: block;
      text-align: center;
      padding: 10px; }
      @media screen and (min-width: 675px) {
        #menu ul li {
          display: inline-block; } }
      #menu ul li i {
        padding: 5px; }
      #menu ul li a {
        color: #000B29;
        transition: .3s; }
        #menu ul li a:hover {
          color: #EDB83D; }

.header-ode {
  margin: auto;
  text-align: center; }
  .header-ode a {
    font-family: 'Meddon', cursive;
    font-size: 54px;
    color: #EDB83D;
    padding: 0px 40px;
    transition: .3s; }
    .header-ode a:hover {
      color: #D70026; }

/* HEADER CSS - END */
/*------------------------------------------*/
/* INDEX CSS - START */
.index-wrapper {
  text-align: center;
  position: relative;
  min-width: 325px;
  min-height: 425px;
  padding: 10px; }
  .index-wrapper .slogan {
    font-size: 24px; }
  .index-wrapper p {
    font-size: 20px; }

.button-container {
  width: 325px;
  margin: 0 auto;
  padding: 5px; }
  .button-container button {
    min-width: 75%; }
    .button-container button i {
      padding: 5px; }

#ode-svg {
  margin-right: 35px;
  padding: 5px;
  max-width: 350px; }
  #ode-svg path {
    fill: #EDB83D;
    fill-opacity: 0;
    stroke: #EDB83D;
    stroke-width: .4px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation-name: draw, fill;
    animation-fill-mode: forwards;
    animation-delay: .4s;
    animation-duration: 15s, 4s; }

#deer-svg, #owl-svg, #squirrel-svg, #fox-svg, #bear-svg {
  display: block;
  width: 100px;
  margin: 0 auto;
  padding: 0px 5px 15px 5px; }
  #deer-svg path, #owl-svg path, #squirrel-svg path, #fox-svg path, #bear-svg path {
    fill-opacity: 0;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation-name: draw, fill;
    animation-fill-mode: forwards;
    animation-delay: .4s;
    animation-duration: 7s, 7s; }

@keyframes draw {
  to {
    stroke-dashoffset: 0; } }
@keyframes fill {
  to {
    fill-opacity: 1; } }
.feather-svg {
  position: absolute;
  margin: auto;
  height: 80px;
  width: 80px;
  top: -250px; }

#feather-1 {
  animation: feather-1  8s infinite linear; }

#feather-2 {
  animation: feather-2 8s  infinite linear;
  animation-delay: 3s; }

#feather-3 {
  animation: feather-3 8s infinite linear;
  animation-delay: 4s; }

#feather-4 {
  animation: feather-4 8s infinite linear;
  animation-delay: 5s; }

@keyframes feather-1 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0px) rotateZ(0deg); }
  75% {
    opacity: .5;
    -webkit-transform: translate(100px, 600px) rotateZ(270deg); }
  100% {
    opacity: 0;
    -webkit-transform: translate(150px, 675px) rotateZ(360deg); } }
@keyframes feather-2 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0px) rotateZ(0deg); }
  75% {
    opacity: .5;
    -webkit-transform: translate(-200px, 650px) rotateZ(180deg); }
  100% {
    opacity: 0;
    -webkit-transform: translate(-250px, 725px) rotateZ(270deg); } }
@keyframes feather-3 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0px) rotateZ(0deg); }
  75% {
    opacity: .5;
    -webkit-transform: translate(-100px, 600px) rotateZ(90deg); }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50px, 750px) rotateZ(180deg); } }
@keyframes feather-4 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0px) rotateZ(0deg); }
  75% {
    opacity: .5;
    -webkit-transform: translate(-50px, 450px) rotateZ(90deg); }
  100% {
    opacity: 0;
    -webkit-transform: translate(50px, 650px) rotateZ(180deg); } }
/* INDEX SCSS - END */
/*------------------------------------------*/
/*LOGIN SCSS - START */
.login-wrapper {
  text-align: center;
  margin-top: 10px; }

#fox-svg {
  width: 100px;
  padding: 10px; }

.login-form-fields {
  padding: 10px; }
  .login-form-fields label {
    padding-right: 5px; }
  .login-form-fields input {
    background-color: transparent;
    border: solid #000B29 1px; }

.login-alt-options a {
  color: #D70026;
  font-size: 20px;
  padding: 10px;
  transition: .3s; }
  .login-alt-options a:hover {
    text-decoration: underline;
    padding: 7px; }

/* LOGIN SCSS - END */
/*------------------------------------------*/
/* SIGNUP SCSS - START */
#deer-svg {
  width: 100px;
  padding: 10px 10px 0px 10px;
  margin-top: 17px; }

.sign-up-wrapper {
  text-align: center; }
  .sign-up-wrapper h1 {
    font-family: 'Meddon', cursive;
    font-size: 36px;
    margin: auto; }
  .sign-up-wrapper h4 {
    font-size: 18px;
    margin: auto;
    padding: 5px; }

.signup-alt-options a {
  color: #D70026;
  font-size: 20px;
  padding: 10px;
  transition: .3s; }
  .signup-alt-options a:hover {
    font-weight: bold;
    padding: 7px; }

/* SIGNUP SCSS - END */
/*------------------------------------------*/
/* FEED SCSS - START */
.poem-container {
  margin: 0px;
  padding: 7px;
  border-bottom: solid 1px #2F3131;
  text-align: left;
  clear: right; }

.poem-title, .poem-title a {
  color: #D70026;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 24px; }

.poem-content {
  margin: auto; }

.poem-date {
  font-style: italic;
  font-size: 14px; }

/* FEED CSS - END */
/*------------------------------------------*/
/* PROFILE CSS - START */
.profile-wrapper {
  max-width: 80%;
  margin: 0 auto; }

.profile-img-background {
  text-align: center;
  margin: 0px auto 10px auto;
  height: 75px;
  width: 75px;
  background-size: 100%;
  border-radius: 50%; }
  @media only screen and (min-width: 675px) {
    .profile-img-background {
      width: 75px; } }

.avatar-img {
  cursor: pointer; }
  .avatar-img.selected {
    border: 1px solid red; }

.profile-info-container {
  width: 90%;
  min-height: 100px;
  background-color: transparent;
  border-bottom: solid 1px #2F3131;
  margin: auto; }
  .profile-info-container p {
    text-align: center;
    font-weight: bold;
    clear: right; }
  .profile-info-container a {
    float: right;
    padding: 5px;
    font-weight: bold;
    border: solid 1px #EDB83D;
    color: #000B29;
    transition: .3s; }
    .profile-info-container a:hover {
      color: #F8F5F2;
      background-color: #EDB83D;
      border-radius: 4px; }

/* PROFILE CSS - END */
/*------------------------------------------*/
/*POEM CSS - START */
.poem-links {
  list-style-type: none;
  float: right;
  padding: 0px; }
  .poem-links li {
    font-weight: bold;
    padding: 5px;
    margin: 0px 5px;
    display: inline-block;
    border: solid 1px #EDB83D;
    color: #000B29;
    transition: .3s; }
    .poem-links li a {
      color: #000B29; }
    .poem-links li:hover {
      background-color: #EDB83D;
      border-radius: 3px; }
      .poem-links li:hover a {
        color: #F8F5F2; }

.comment-textarea {
  width: 100%; }

/*POEM CSS - END */

/*# sourceMappingURL=main.css.map */
