@import 'variables'; 

* {
  box-sizing: border-box;
  font-weight: 300;
}

strong {
  font-weight: 600;
}

.feed-wrapper, .create-wrapper, .poem-wrapper {
  height: auto;
  margin: 0 auto;
  padding: 0px 15px 15px 15px;
  width: 90%;
  text-align: center;
  border-radius: 4px;
   @media only screen and (min-width: 675px) {
     width: 80%;
    }
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: solid $night 1px;
  margin: 10px;
  width: 25%;
  height: 42px;
  font-size: 18px;
  transition: .3s;
  &:hover {
    background-color: $night;
    color: $bone;
    border-radius: 5px;
  }
  @media only screen and (min-width: 675px){
    button {
     width: 10%;
    }
  }
}

.view-pg-title {
  font-size: 32px;
  color: $meadow;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

input {
  height: 36px;
  width: 50%;
  padding: 10px 15px;
  @media screen and (min-width: 675px){
    width: 400px;
  }
}

  h4 {
    text-align: center;
    color: $phoneboothred;
    padding-top: 15px;
    margin: 0;
  }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px; 
  color: $night;
  background-color: $pearl;
}
/*------------------------------------------*/
/* HEADER CSS - START */
.header-wrapper {
  background-color: $pearl;
}

.create-header {
  .create-menu-item a { 
    color: $meadow !important;
    &:hover {
      color: $flash !important;
    }
    i {
      font-weight: bold;
    }
  }
}

.feed-header {
  .feed-menu-item a { 
    color: $phoneboothred !important;
    &:hover {
      color: $flash !important;
    }
    i {
      font-weight: bold;
    }
  }
}

.profile-header {
  .profile-menu-item a {
    color: $flash !important;
    &:hover {
      color: $flash !important;
    }
    i {
      font-weight: bold;
    }
  }
}


.hamburger {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 36px;
  color: $night;
  display:block;
  @media screen and (min-width: 675px){
    display: none;
  }
}

#menu {
  display: none;
   @media screen and (min-width: 675px) {
    display: block;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 0px;
    li {
      display: block;
      text-align:center;
      padding: 10px;
       @media screen and (min-width: 675px) {
          display: inline-block;
        }
      i {
        padding: 5px;
      }
      a {
        color: $night;
        transition: .3s; 
        &:hover {
          color: $flash; 
        }
      }
    }
  }
}

.header-ode {
  margin: auto;
  text-align: center;
  a {
  font-family: 'Meddon', cursive;
  font-size: 54px;
  color: $flash;
  padding: 0px 40px;
  transition: .3s;
  &:hover {
  color: $phoneboothred;
  }
 }
}

/* HEADER CSS - END */
/*------------------------------------------*/
/* INDEX CSS - START */
.index-wrapper {
  text-align: center;
  position: relative;
  min-width: 325px;
  min-height: 425px;
  padding: 10px;
    .slogan {
    font-size: 24px;
    }
    p {
    font-size: 20px;
    }
}

.button-container {
  width: 325px;
  margin: 0 auto;
  padding: 5px;
  button {
    min-width: 75%;
    i {
      padding: 5px
    }
    }
  }

#ode-svg { 
  margin-right: 35px;
  padding: 5px;
  max-width: 350px;
  path {
  fill: $flash;
  fill-opacity: 0;
  stroke: $flash;
  stroke-width: .4px;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation-name: draw, fill;
  animation-fill-mode: forwards;
  animation-delay: .4s;
  animation-duration: 15s, 4s;
}
   }

  #deer-svg, #owl-svg, #squirrel-svg, #fox-svg, #bear-svg {
  display: block;
  width: 100px;
  margin: 0 auto;
  padding: 0px 5px 15px 5px;
  path {
  fill-opacity: 0;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation-name: draw, fill;
  animation-fill-mode: forwards;
  animation-delay: .4s;
  animation-duration: 7s, 7s;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  to {
    fill-opacity: 1;
  }
}

  
.feather-svg {
  position: absolute;
  margin: auto;
  height: 80px;
  width: 80px;
  top: -250px;
}

#feather-1 {
  animation: feather-1  8s infinite linear;
}

#feather-2 {
  animation: feather-2 8s  infinite linear;
  animation-delay: 3s;
}

#feather-3 {
  animation: feather-3 8s infinite linear;
  animation-delay: 4s;
}

#feather-4 {
  animation: feather-4 8s infinite linear;
  animation-delay: 5s;
}

@keyframes feather-1 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    opacity: .5;
    -webkit-transform: translate(100px, 600px) rotateZ(270deg);
  } 
  100% {
    opacity: 0;
    -webkit-transform: translate(150px, 675px) rotateZ(360deg);
      }
}

@keyframes feather-2 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    opacity: .5;
    -webkit-transform: translate(-200px, 650px) rotateZ(180deg);
  } 
  100% {
    opacity: 0;
    -webkit-transform: translate(-250px, 725px) rotateZ(270deg);
      }
}

@keyframes feather-3 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    opacity: .5;
    -webkit-transform: translate(-100px, 600px) rotateZ(90deg);
  } 
  100% {
    opacity: 0;
    -webkit-transform: translate(-50px, 750px) rotateZ(180deg);
      }
}

@keyframes feather-4 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    opacity: .5;
    -webkit-transform: translate(-50px, 450px) rotateZ(90deg);
  } 
  100% {
    opacity: 0;
    -webkit-transform: translate(50px, 650px) rotateZ(180deg);
      }
}

/* INDEX SCSS - END */
/*------------------------------------------*/
/*LOGIN SCSS - START */
.login-wrapper {
  text-align:  center;
  margin-top: 10px;
}

#fox-svg {
  width: 100px;
  padding: 10px;
}

.login-form-fields {
  padding: 10px;
  label {
    padding-right: 5px;
    }
    input {
      background-color: transparent;
      border: solid $night 1px; 
    }
  }

.login-alt-options a {
    color: $phoneboothred;
  font-size: 20px;
  padding: 10px;
  transition: .3s;
  &:hover {
    text-decoration: underline;
    padding: 7px;
  }
}

/* LOGIN SCSS - END */
/*------------------------------------------*/
/* SIGNUP SCSS - START */
#deer-svg {
  width: 100px;
  padding: 10px 10px 0px 10px;
  margin-top: 17px;
}

.sign-up-wrapper {
  text-align: center;
  h1 {
    font-family: 'Meddon', cursive;
    font-size: 36px;
    margin: auto;
  }
  h4 {
    font-size: 18px;
    margin: auto;
    padding: 5px;
  }
}

.signup-alt-options a {
  color: $phoneboothred;
  font-size: 20px;
  padding: 10px;
  transition: .3s;
  &:hover {
    font-weight: bold;
    padding: 7px;
  }
}
/* SIGNUP SCSS - END */
/*------------------------------------------*/
/* FEED SCSS - START */

.col {
  width: 45%; 
  margin: 0 2.5%;
  float: left;
  @media screen and (max-width: 675px){
    width: 95%;
    float: none;
  }
}

.poem-container {
  margin: 0px;
  padding: 7px;
  border-bottom: solid 1px $coal;
  text-align: left;
  clear: right;
}

.poem-title, .poem-title a {
  color:$phoneboothred;
  font-weight: bold;
  font-size: 24px;
}

.poem-content {
  margin: auto;
}

.poem-date {
  font-style: italic;
  font-size: 14px;
}

/* FEED CSS - END */
/*------------------------------------------*/
/* PROFILE CSS - START */
.profile-wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.profile-img-background {
  text-align: center;
  margin: 0px auto 10px auto;
  height: 75px;
  width: 75px;
  background-size: 100%;
  border-radius: 50%;
  @media only screen and (min-width: 675px) {
     width: 75px;
    }
}

.profile-info-container {
  width: 90%;
  min-height: 100px;
  background-color: transparent;
 border-bottom: solid 1px $coal;
  margin: auto;
   h2 {
    text-align: center;
    font-weight: bold;
    color: $flash;
  }
  p {
    text-align: center;
    clear: right;
  }
   a {
    float: right;
    padding: 5px;
    margin: 5px;
    font-size: 12px;
    border: solid 1px $flash;
    color: $night;
    transition: .3s;
    font-weight: 600;
    &:hover {
      color: $pearl;
      background-color: $flash;
      border-radius: 4px;
    }
  }
}
/* PROFILE CSS - END */
/* EDIT-PROFILE CSS - START */

#profile-wrapper {
 width: 75%;
border-radius: 4px;
 margin: auto;
  form {
    p {
      font-size: 24px;
      font-weight: bold;
      color: $flash;
      text-align: center;
      padding: 15px 5px 0px 5px;
    }
    textarea {
      margin: 25px 12.5%;
      width: 75%;
      min-height: 100px;
      border: none;
      border-radius: 4px;
     @media only screen and (min-width: 675px) {
       width: 50%;
       margin: 25px 25%;
      }
    }
  }
}

.profile-avatars {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  li {
    display:inline-block;
  }
    .avatar-img {
    cursor: pointer;
    float: center;
    border-radius: 50%;
    margin: 10px 25px;
    &.selected {
      border: 2px solid $moss;
    }
  }
}

/* EDIT-PROFILE CSS - END */
/*------------------------------------------*/
/*POEM CSS - START */
.poem-links {
  list-style-type: none;
  float: right;
  padding: 0px;
  li {
    font-weight: bold;
    padding: 5px;
    margin: 0px 5px;
    display: inline-block;
    border: solid 1px $flash;
    color: $night;
    transition: .3s;
      a {
      color: $night;
      }
    &:hover {
        background-color: $flash;
        border-radius: 3px;
        a {
          color: $pearl;
        }
      }
  }
}

.comment-textarea {
  width: 100%;
}

/*POEM CSS - END */